# ignores following folders
bin/
build/
copy_folder/

resources/audio/unused_audio

src/mass_rendering_system/camera.*
src/mass_rendering_system/city_gen.*
src/mass_rendering_system/lighting.*
src/mass_rendering_system/mesh.*
src/mass_rendering_system/model.*
src/mass_rendering_system/shader.*
src/mass_rendering_system/shaders
src/mass_rendering_system/sky.*
src/mass_rendering_system/skymap.*
src/mass_rendering_system/text_rendering.*
src/mass_rendering_system/time.*

src/networking_test/camera.*
src/networking_test/city_gen.*
src/networking_test/lighting.*
src/networking_test/mesh.*
src/networking_test/model.*
src/networking_test/shader.*
src/networking_test/shaders
src/networking_test/sky.*
src/networking_test/skymap.*
src/networking_test/text_rendering.*
